#root {
  padding: 0.8rem;
  padding-left: 1.5rem;

}

#header {
  border-bottom: 5px solid #ee0000 ;
}

#article-list {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  border: 5px solid black;
}