#root {
  padding: 0.8rem;
  padding-left: 1.5rem;

}

#header {
  border-bottom: 5px solid #ee0000 ;
}

#article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 95vw;
  border: 0px solid black;
}

#article-card {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#article-card:hover {
  background-color: #68686836;
  cursor: pointer;
}